<nav class="navbar navbar-light" style="background-color: #ffb5a7;">
    <div class="container-fuild">
        <div class="navbar-header">
            <a href="#" id="logo" class="navbar-brand">TO-DO LIST</a>
        </div>
        <!-- class="collapse navbar-collapse" -->
        <div >
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a routerLink="/todoList">Uncompleted Items</a></li>
                <li routerLinkActive="active"><a routerLink="/completedItems">Completed Items</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"
                listDropdownDirective>
                    <a href="#" class="dropdown-toggle" role="button">User<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Other</a></li>
                        <li><hr></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul> -->
        </div>
    </div>
</nav>