@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans&display=swap');

body{
    background-color: #f9dcc4;
    font-family: 'Noto Serif', serif;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}